---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.name }}</title>

    {% if site.metafields.theme.favicon %}
      <link rel="shortcut icon" href="{{ site.metafields.theme.favicon }}">
    {% else %}
      <link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />
    {{ 'application.css' | stylesheet_tag }}

    {% include 'theme_css' %}

    {% seo %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    {% include 'nav' %}

    {% block content, short_name: true %}
    {% endblock %}

    <footer>
      <div class="container">
        {% block footer %}
        <div class="row">
          <div class="col-md-4 footer-col">
            <h3>{% editable_text site_title, fixed: true, inline: true, rows: 1 %}Our site{% endeditable_text %}</h3>
          </div>

          <div class="col-md-3 footer-col">
            <h3>{% editable_text social_title, fixed: true, inline: true, rows: 1 %}Social{% endeditable_text %}</h3>
            {% include social_links %}
          </div>

        </div>
        {% endblock %}
      </div>
    </footer>

    {{ 'jquery.min.js' | javascript_tag }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
    {{ 'application.js' | javascript_tag }}
    {% block scripts %}{% endblock %}
  </body>
</html>
